<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <header>
                <h1><a href="{{ path('homepage') }}">Symfony Miniblog</a></h1>
                <hr />
            </header>

            {% block loginbar %}
                <section class="text-center">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}Logged in as {{ app.user.username }} - <a href="{{ path('logout') }}">Logout</a>{% else %}<a href="{{ path('login') }}">Login</a> or <a href="{{ path('register') }}">Register</a>{% endif %}
                </section>
            {% endblock %}

            <section>
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} flashbag">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </section>

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
