{% extends 'base.html.twig' %}

{% block title %}View Article: {{ article.title }}{% endblock %}

{% block body %}
	<h2>{{ article.title }}</h2>
	<p>{{ article.content }}</p>
	<hr />
	<div>
		<a class="btn btn-primary" href="{{ path('article_list') }}" role="button">Back To List</a>
		<div class="d-inline-block float-right">
			<a class="btn btn-secondary" href="{{ path('article_edit', { 'id' : article.id }) }}" role="button">Edit</a>
			<a class="btn btn-danger" href="{{ path('article_delete', { 'id' : article.id }) }}" role="button">Delete</a>
		</div>
	</div>
	
	<div id="commentSection">
		<h3>{{ commentList|length }} comment{% if commentList|length > 1 %}s{% endif %}</h3>

		<hr />

		{% if commentList|length == 0 %}
			<div class="text-center">No results</div>
		{% endif %}

		{% for comment in commentList %}
			<div>
				<div><strong>{{ comment.author.username }}</strong> - {{ comment.postDate|date('d/m/Y H:i:s') }}</div>
				<p>
					{{ comment.content }}
				</p>
			</div>
		{% endfor %}

		<hr />

		<h3>Add comment</h3>

		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<input type="submit" class="btn btn-primary" value="Add Comment" />
			{{ form_rest(form) }}
			{{ form_end(form) }}
		{% else %}
			<div class="alert alert-warning">You need to be <a href="{{ path('login') }}">logged in</a> to add comments!</div>
		{% endif %}
	</div>
{% endblock %}